meta(charset="UTF-8")
meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1")
meta(name="keywords" content=config.seo.keywords)
meta(name="description" content=config.seo.description)
link(rel="stylesheet" href="/css/test.css")
link(rel="shortcut icon" href="/images/favicon.png")
link(rel="stylesheet" href="/css/github-markdown.css" )
title #{config.seo.title}-#{config.seo.subtitle} 
script.
    var _hmt = _hmt || [];
    (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?afcf1d776dcb2d3f637ed7d20cc42ea2";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
    })();