meta(charset="UTF-8")
meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1,minimum-scale=1")
meta(name="keywords" content=config.seo.keywords)
meta(name="description" content=config.seo.description)
link(rel="stylesheet/less" href="/css/style.less")
link(rel="shortcut icon" href="/images/favicon.png")
link(rel="stylesheet" href="/css/github-markdown.css" )
title #{config.seo.title}-#{config.seo.subtitle} 
script(src="/js/less.min.js")