doctype html
html
    head
        
        include components/meta.pug
    body
        include components/header.pug
        main
            .wrap
                .leftBox
                    article
                        .article-box
                            .article-title  
                                h1 #{data.title}
                            .article-info 发表于 #{data.postTime} #{data.views}次浏览
                            .markdown-body !{markdown}
                    article
                        .article-box
                            .copyright
                                p #[strong 版权声明: ]#[span 本站文章除特别声明外，均为本站原创或翻译。转载请注明出处，尊重他人劳动成果。]
                                p #[strong 转载请注明出处链接: ]#[span pomelo-单栏式简约清新wordpress主题] 
                    article
                        .article-box
                            .next_article
                                
                                if preArticle
                                    a.prev(href=`${preArticle.id}`) << #{preArticle.title} 
                                if nextArtilce
                                    a.next(href=`${nextArtilce.id}`) #{nextArtilce.title} >>
                    article
                        .article-box
                            #comment
                                
                .rightBox
                    #active-block
                        aside.aboutMe
                            .photo-background
                            .avatar
                                img(src="/images/avatar.jpg" alt="头像")
                            .notes 最强咸鱼...
                            .statistics
                                ul
                                    li
                                        .count 12
                                        .type 文章
                                    li
                                        .count 12
                                        .type 文章
                                    li
                                        .count 12
                                        .type 文章
                            .contact
                                ul
                                    li #[img(src="/images/QQ.png")]  QQ
                                    li #[img(src="/images/weixin.png")] 微信
                                    li #[img(src="/images/weibo.png")] 微博
                                    li #[img(src="/images/github3.png")] github
                        aside#article-nav
        include components/footer.pug
        script.
            var result ={
                data:!{JSON.stringify(comments)},
                pageSize:!{pageSize},
                id:!{id}
            }
        script(src="/js/libs/jquery-1.11.1.min.js")
        script(src="/js/libs/CateNav.js")
        script(src="/dist/comment.js")
        script.
            $(function(){	
                $.CateNav('.markdown-body','#article-nav');//第一个参数为存放文章内容的box,第二个参数为存放生成目录的box	
            })