doctype html
html
    head

        link(href="/css/comment.css", rel="stylesheet")
        include components/meta.pug

    body
        include components/header.pug
        main
            .wrap
                .leftBox
                    article
                        .article-box
                            .article-title
                                h1 #{data.title}
                            .article-info 发表于 #{data.postTime} #{data.views}次浏览
                            .markdown-body !{markdown}
                    article
                        .article-box
                            .copyright
                                p #[strong 版权声明: ]#[span 本站文章除特别声明外，均为本站原创或翻译。转载请注明出处，尊重他人劳动成果。]
                                p #[strong 转载请注明出处链接: ]#[a(href=url) #[span #{data.title}] ]
                    article
                        .article-box
                            .next_article

                                if preArticle
                                    a.prev(href=`${preArticle.id}`) << #{preArticle.title}
                                if nextArtilce
                                    a.next(href=`${nextArtilce.id}`) #{nextArtilce.title} >>
                    article
                        .article-box
                            #comment

                .rightBox
                    #active-block
                        include components/sidebar-aboutMe.pug
                        aside#article-nav
            #backTop
        include components/footer.pug
        script.
            var result ={
                data:!{JSON.stringify(comments)},
                pageSize:!{pageSize},
                id:!{id},
                pidComment:!{pidComment},
                isLogin:!{isLogin},
                title:!{JSON.stringify(data.title)},
                blogName:!{JSON.stringify(blogName)}
            }
        script(src="/js/lib.js")
        script(src="/js/comment.js")